In [2]:
import pandas as pd

In [3]:
df_x_train = pd.read_csv('data/dataset/x_train.csv')
df_y_train = pd.read_csv('data/dataset/y_train.csv')

In [4]:
feature_names = df_x_train.columns.values.tolist()
feature_names

['_STATE',
 'FMONTH',
 'IDATE',
 'IMONTH',
 'IDAY',
 'IYEAR',
 'DISPCODE',
 'SEQNO',
 '_PSU',
 'CTELENUM',
 'PVTRESD1',
 'COLGHOUS',
 'STATERES',
 'CELLFON3',
 'LADULT',
 'NUMADULT',
 'NUMMEN',
 'NUMWOMEN',
 'CTELNUM1',
 'CELLFON2',
 'CADULT',
 'PVTRESD2',
 'CCLGHOUS',
 'CSTATE',
 'LANDLINE',
 'HHADULT',
 'GENHLTH',
 'PHYSHLTH',
 'MENTHLTH',
 'POORHLTH',
 'HLTHPLN1',
 'PERSDOC2',
 'MEDCOST',
 'CHECKUP1',
 'BPHIGH4',
 'BPMEDS',
 'BLOODCHO',
 'CHOLCHK',
 'TOLDHI2',
 'CVDSTRK3',
 'ASTHMA3',
 'ASTHNOW',
 'CHCSCNCR',
 'CHCOCNCR',
 'CHCCOPD1',
 'HAVARTH3',
 'ADDEPEV2',
 'CHCKIDNY',
 'DIABETE3',
 'DIABAGE2',
 'SEX',
 'MARITAL',
 'EDUCA',
 'RENTHOM1',
 'NUMHHOL2',
 'NUMPHON2',
 'CPDEMO1',
 'VETERAN3',
 'EMPLOY1',
 'CHILDREN',
 'INCOME2',
 'INTERNET',
 'WEIGHT2',
 'HEIGHT3',
 'PREGNANT',
 'QLACTLM2',
 'USEEQUIP',
 'BLIND',
 'DECIDE',
 'DIFFWALK',
 'DIFFDRES',
 'DIFFALON',
 'SMOKE100',
 'SMOKDAY2',
 'STOPSMK2',
 'LASTSMK2',
 'USENOW3',
 'ALCDAY5',
 'AVEDRNK2',
 'DRNK3GE5',
 'MAXDRNKS',
 'FRUITJU1',
 'FRUIT1',
 'FVBEANS',
 'FVGREEN',
 'FVORANG',
 'VEGETAB1',
 'EXERANY2',
 'EXRACT11',
 'EXEROFT1',
 'EXERHMM1',
 'EXRACT21',
 'EXEROFT2',
 'EXERHMM2',
 'STRENGTH',
 'LMTJOIN3',
 'ARTHDIS2',
 'ARTHSOCL',
 'JOINPAIN',
 'SEATBELT',
 'FLUSHOT6',
 'FLSHTMY2',
 'IMFVPLAC',
 'PNEUVAC3',
 'HIVTST6',
 'HIVTSTD3',
 'WHRTST10',
 'PDIABTST',
 'PREDIAB1',
 'INSULIN',
 'BLDSUGAR',
 'FEETCHK2',
 'DOCTDIAB',
 'CHKHEMO3',
 'FEETCHK',
 'EYEEXAM',
 'DIABEYE',
 'DIABEDU',
 'CAREGIV1',
 'CRGVREL1',
 'CRGVLNG1',
 'CRGVHRS1',
 'CRGVPRB1',
 'CRGVPERS',
 'CRGVHOUS',
 'CRGVMST2',
 'CRGVEXPT',
 'VIDFCLT2',
 'VIREDIF3',
 'VIPRFVS2',
 'VINOCRE2',
 'VIEYEXM2',
 'VIINSUR2',
 'VICTRCT4',
 'VIGLUMA2',
 'VIMACDG2',
 'CIMEMLOS',
 'CDHOUSE',
 'CDASSIST',
 'CDHELP',
 'CDSOCIAL',
 'CDDISCUS',
 'WTCHSALT',
 'LONGWTCH',
 'DRADVISE',
 'ASTHMAGE',
 'ASATTACK',
 'ASERVIST',
 'ASDRVIST',
 'ASRCHKUP',
 'ASACTLIM',
 'ASYMPTOM',
 'ASNOSLEP',
 'ASTHMED3',
 'ASINHALR',
 'HAREHAB1',
 'STREHAB1',
 'CVDASPRN',
 'ASPUNSAF',
 'RLIVPAIN',
 'RDUCHART',
 'RDUCSTRK',
 'ARTTODAY',
 'ARTHWGT',
 'ARTHEXER',
 'ARTHEDU',
 'TETANUS',
 'HPVADVC2',
 'HPVADSHT',
 'SHINGLE2',
 'HADMAM',
 'HOWLONG',
 'HADPAP2',
 'LASTPAP2',
 'HPVTEST',
 'HPLSTTST',
 'HADHYST2',
 'PROFEXAM',
 'LENGEXAM',
 'BLDSTOOL',
 'LSTBLDS3',
 'HADSIGM3',
 'HADSGCO1',
 'LASTSIG3',
 'PCPSAAD2',
 'PCPSADI1',
 'PCPSARE1',
 'PSATEST1',
 'PSATIME',
 'PCPSARS1',
 'PCPSADE1',
 'PCDMDECN',
 'SCNTMNY1',
 'SCNTMEL1',
 'SCNTPAID',
 'SCNTWRK1',
 'SCNTLPAD',
 'SCNTLWK1',
 'SXORIENT',
 'TRNSGNDR',
 'RCSGENDR',
 'RCSRLTN2',
 'CASTHDX2',
 'CASTHNO2',
 'EMTSUPRT',
 'LSATISFY',
 'ADPLEASR',
 'ADDOWN',
 'ADSLEEP',
 'ADENERGY',
 'ADEAT1',
 'ADFAIL',
 'ADTHINK',
 'ADMOVE',
 'MISTMNT',
 'ADANXEV',
 'QSTVER',
 'QSTLANG',
 'MSCODE',
 '_STSTR',
 '_STRWT',
 '_RAWRAKE',
 '_WT2RAKE',
 '_CHISPNC',
 '_CRACE1',
 '_CPRACE',
 '_CLLCPWT',
 '_DUALUSE',
 '_DUALCOR',
 '_LLCPWT',
 '_RFHLTH',
 '_HCVU651',
 '_RFHYPE5',
 '_CHOLCHK',
 '_RFCHOL',
 '_LTASTH1',
 '_CASTHM1',
 '_ASTHMS1',
 '_DRDXAR1',
 '_PRACE1',
 '_MRACE1',
 '_HISPANC',
 '_RACE',
 '_RACEG21',
 '_RACEGR3',
 '_RACE_G1',
 '_AGEG5YR',
 '_AGE65YR',
 '_AGE80',
 '_AGE_G',
 'HTIN4',
 'HTM4',
 'WTKG3',
 '_BMI5',
 '_BMI5CAT',
 '_RFBMI5',
 '_CHLDCNT',
 '_EDUCAG',
 '_INCOMG',
 '_SMOKER3',
 '_RFSMOK3',
 'DRNKANY5',
 'DROCDY3_',
 '_RFBING5',
 '_DRNKWEK',
 '_RFDRHV5',
 'FTJUDA1_',
 'FRUTDA1_',
 'BEANDAY_',
 'GRENDAY_',
 'ORNGDAY_',
 'VEGEDA1_',
 '_MISFRTN',
 '_MISVEGN',
 '_FRTRESP',
 '_VEGRESP',
 '_FRUTSUM',
 '_VEGESUM',
 '_FRTLT1',
 '_VEGLT1',
 '_FRT16',
 '_VEG23',
 '_FRUITEX',
 '_VEGETEX',
 '_TOTINDA',
 'METVL11_',
 'METVL21_',
 'MAXVO2_',
 'FC60_',
 'ACTIN11_',
 'ACTIN21_',
 'PADUR1_',
 'PADUR2_',
 'PAFREQ1_',
 'PAFREQ2_',
 '_MINAC11',
 '_MINAC21',
 'STRFREQ_',
 'PAMISS1_',
 'PAMIN11_',
 'PAMIN21_',
 'PA1MIN_',
 'PAVIG11_',
 'PAVIG21_',
 'PA1VIGM_',
 '_PACAT1',
 '_PAINDX1',
 '_PA150R2',
 '_PA300R2',
 '_PA30021',
 '_PASTRNG',
 '_PAREC1',
 '_PASTAE1',
 '_LMTACT1',
 '_LMTWRK1',
 '_LMTSCL1',
 '_RFSEAT2',
 '_RFSEAT3',
 '_FLSHOT6',
 '_PNEUMO2',
 '_AIDTST3']

In [6]:
df_x_train

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENUM,...,_PAREC1,_PASTAE1,_LMTACT1,_LMTWRK1,_LMTSCL1,_RFSEAT2,_RFSEAT3,_FLSHOT6,_PNEUMO2,_AIDTST3
0,53,11,11162015,11,16,2015,1100,2015015629,2015015629,NaN,...,1,1,3.0,3.0,4.0,1,1,NaN,NaN,2.0
1,33,12,12152015,12,15,2015,1200,2015004387,2015004387,1.0,...,9,9,3.0,3.0,4.0,9,9,NaN,NaN,NaN
2,20,10,10202015,10,20,2015,1100,2015005638,2015005638,1.0,...,4,2,2.0,2.0,3.0,1,1,1.0,2.0,2.0
3,42,6,6182015,6,18,2015,1100,2015004694,2015004694,NaN,...,2,2,2.0,2.0,3.0,1,1,2.0,2.0,2.0
4,24,11,11062015,11,6,2015,1100,2015004673,2015004673,1.0,...,9,9,3.0,3.0,4.0,1,1,9.0,9.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328130,49,7,11232015,11,23,2015,1100,2015006796,2015006796,NaN,...,2,2,3.0,3.0,4.0,1,1,NaN,NaN,2.0
328131,51,5,6082015,6,8,2015,1100,2015006482,2015006482,NaN,...,1,1,3.0,3.0,4.0,1,1,NaN,NaN,1.0
328132,39,10,10202015,10,20,2015,1100,2015004898,2015004898,1.0,...,3,2,3.0,3.0,4.0,1,2,2.0,2.0,2.0
328133,33,12,12302015,12,30,2015,1100,2015004449,2015004449,1.0,...,3,2,3.0,3.0,4.0,1,1,NaN,NaN,2.0
328134,32,9,9122015,9,12,2015,1100,2015001176,2015001176,1.0,...,9,9,2.0,2.0,3.0,1,1,NaN,NaN,2.0

In [9]:
selected_features = ['BPMEDS',
 '_RFHYPE5',
 'EMPLOY1',
 'GENHLTH',
 '_RFCHOL',
 '_AGE80',
 'SEX',
 'CVDSTRK3',
 'DIFFWALK',
 'MAXVO2_',
 'CHCCOPD1',
 'PNEUVAC3',
 'QLACTLM2',
 'HAREHAB1',
 'TOLDHI2',
 'SMOKE100',
 'CHOLCHK',
 'CHCKIDNY',
 'CVDASPRN',
 'DIABETE3',
 'ASPUNSAF',
 '_SMOKER3',
 '_DRDXAR1',
 '_RFSEAT2',
 'VIPRFVS2',
 'USEEQUIP',
 'INTERNET',
 'DRADVISE',
 'PERSDOC2',
 'BPHIGH4']

In [20]:
sum(df_x_train.isna().mean() * 100 < 50) / 321

0.5420560747663551

In [21]:
len(df_x_train)

328135